@font-face {
	font-family: MTL;
	src: url('../font/MLT.otf');
}

* {
	font-family: MTL;
}

.noto {
	font-family: 'NotoSansSpecial';
}

.cil {
	font-family: 'NotoSansGeorgian';
}

h1 {
	text-align: center;
}

div {
	display: flex;
	justify-content: center;
}
