@font-face {
	font-family: 'NotoSansSpecial';
	src: url('../font/NotoSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Charis7000;
	src: url('../font/Charis-Regular.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: NotoSansGeorgian;
	src: url('../font/NotoSerifGeorgian.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

.noto {
	font-family: 'NotoSansSpecial';
}

.cil {
	font-family: 'NotoSansGeorgian';
}

* {
	font-family: Charis7000;
}
